/* Fix content jump */
.skin-vector.ns-0 #contentSub::after {
	content: '\200B';
}

.skin-vector.ns-0 .noarticletext {
	margin-top: -1.008em; /* 0.84 * 1.2em */
}

/* Fix layout for deleted mainspace pages */
.skin-vector.ns-0 #contentSub2 {
	margin-top: -1.2em;
}

.skin-vector.ns-0 .mw-warning-with-logexcerpt.mw-content-ltr {
	margin-bottom: 1.2em;
}